@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import viewmodels._
@import views.html._
@import config.FrontendAppConfig
@import models.Section.SectionEnum

@(id: String, headerKey: String, body: Html, expanded: Boolean = false)(implicit messages: Messages, request: Request[_], appConfig: FrontendAppConfig)

<div data-accordion
     data-accordion-animate
     data-accordion-set-hash
     class="accordion @if(expanded){accordion--expanded}">
    <div class="accordion__row">
        <h2 class="accordion__row__left bold-small">
            <button type="button"
                    class="accordion__button link--no-underline"
                    data-accordion-button
                    id="@id-header"
                    aria-controls="@id-body"
                    aria-expanded="@expanded">
                @messages(headerKey)
            </button>
            <span class="accordion__icon" aria-hidden="true"></span>
        </h2>
    </div>
    <div class="accordion__body @if(!expanded){hidden}"
         id="@id-body"
         data-accordion-body
         aria-labelledby="@id-header">
        @body
    </div>
</div>
