@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import viewmodels.AnswerSection
@import views.html._
@import config.FrontendAppConfig

@(answerSection: AnswerSection, printMode: Boolean = false)(implicit messages: Messages, request: Request[_], appConfig: FrontendAppConfig)

<h2>@messages(answerSection.headingKey)</h2>

@answerSection.whyResult.map { html =>
    <p>@html<p>
}

@if(answerSection.useProgressiveDisclosure && !printMode) {
    @components.progressive_disclosure(messages("result.showAnswers"), content)
} else {
    @content
}

@content = {
    <ul role="list" class="section">
        @for(row <- answerSection.rows){
            @components.answer_row(row, printMode)
        }
    </ul>
}
