@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import viewmodels.RadioOption
@import config.FrontendAppConfig
@import _root_.views.ViewUtils._

@(form: Form[_],
  field: Field,
  legend: String,
  legendClass: Option[String] = None,
  hint: Option[String] = None,
  inputs: Seq[RadioOption]
)(implicit messages: Messages, request: Request[_], appConfig: FrontendAppConfig)

<div class="form-group @if(field.hasErrors){form-group-error}">

    <fieldset id="@{field.id}">
        <legend>
            <span class="bold-small @if(legendClass.nonEmpty){@{legendClass.get}}">@legend</span>
            @if(hint.nonEmpty){
                <span class="form-hint">@{hint.get}</span>
            }
            @field.errors.map { error =>
            <span class = "visually-hidden">@messages("error.summary.prefix")</span> <span class="error-message" id="error-message-@{field.id}-input">@messages(error.message, error.args: _*)</span>
            }
        </legend>

        <div id="multiple-choice-options">
        @for(input <- inputs) {
            <div class="multiple-choice">
                <input id="@{input.id}"
                       type="@{input.optionType}"
                       name=@{s"${field.id}[]"}
                       value="@{input.value}"
                       @if(form.data.exists(_._2 == input.value)){checked="checked"}>
                <label for="@{input.id}">
                    @if(input.hasTailoredMsgs) {
                        @messages(tailorMsg(input.messageKey))
                    } else {
                        @messages(input.messageKey)
                    }
                </label>
            </div>
        }
        </div>
    </fieldset>
</div>
