@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@(
        field: Field,
        label: String,
        contextualLabelPostfix: Option[String] = None,
        secondaryLabel: Option[String] = None,
        inputClass: Option[String] = None,
        labelClass: Option[String] = None,
        hint: Option[String] = None,
        bold: Boolean = true,
        hintBelow: Boolean = false
)(implicit messages: Messages)

    <div class="form-group form-control-3-4 @if(field.hasErrors) {form-group-error}">

        <label class="form-label" for="@{field.id}">
            <span class="@if(labelClass.nonEmpty){@labelClass}">
                @label
                @contextualLabelPostfix.map { postfix =>
                    <span class="visuallyhidden">@postfix</span>
                }
            </span>
            @if(hint.nonEmpty && !hintBelow){
                <span class="form-hint">@hint</span>
            }
            @field.errors.map { error =>
            <span class = "visually-hidden">@messages("error.summary.prefix")</span> <span class="error-message" id="error-message-@{field.id}-input">@messages(error.message, error.args: _*)</span>
            }
        </label>

        <div class="char-counter" style="display: block !important;" data-char-counter aria-live="polite" role="status">
            <textarea class="form-control"
                      style="width: 100%; resize: none; height: auto !important;"
                      id="@{field.id}"
                      name="@{field.id}"
                      @if(field.hasErrors){aria-describedby="error-message-@{field.id}-input"}
                      rows="5"
                      data-char-field="true"
                      maxlength="180"
                      spellcheck="false">@{field.value}</textarea>
        </div>
    </div>
