details {
  margin: em(15) 0;

  .summary {
    text-decoration: underline;
  }
}

.summary--black {
  color: #000;
  &:hover {
    color: #000;
  }
  i {
    color: #000;
    &:visited {
      color: #000;
    }
  }
}

.details {
  .details__inner {
    padding-bottom: em(32);
  }
}

table {
  details {
    margin: 0;
  }
}

.no-details details {
  summary {
    .arrow-closed {
      display: inline-block;
    }

    .arrow-open {
      display: none;
    }
  }

  &.open summary {
    .arrow-closed {
      display: none;
    }

    .arrow-open {
      display: inline-block;
    }
  }
}