@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.exit.routes._
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, tailorMsg("officeHolder.title"), Some(tailorMsg("officeHolder.subheading"))),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(mode)

    @formWithCsrf(action = OfficeHolderController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_yes_no(
            field = form("value"),
            legend = components.heading(tailorMsg("officeHolder.heading"), Some(tailorMsg("officeHolder.subheading")), asLegend = true),
            otherContent = Some(pageContent),
            labelClass = Some("visually-hidden")
        )

        @components.submit_button()
    }
}

@pageContent = {
    <p>@messages(tailorMsg("officeholder.p1"))</p>
    <p>@messages(tailorMsg("officeholder.p2")) @components.new_window_link(tailorMsg("officeholder.link"), appConfig.officeHolderUrl).</p>
}
