@import uk.gov.hmrc.offpayroll.util.LanguageUtils
@import uk.gov.hmrc.offpayroll.controllers.routes

@(enableLanguageSwitching: Boolean)(implicit lang : Lang, messages: Messages)

@if(enableLanguageSwitching) {
    <div class="available-languages">
    @if(LanguageUtils.isWelsh(lang)) {
        <div class="available-languages" style="float:right">
            <a id="switch-to-english" href="@routes.LanguageController.switchToEnglish" >English</a> | Cymraeg
        </div>
    } else {
        <div class="available-languages" style="float:right">
            English | <a id="switch-to-welsh" href="@routes.LanguageController.switchToWelsh" >Cymraeg</a>
        </div>
    }
    </div>

}