@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import views.ViewUtils._
@import play.mvc.Http.Status.NOT_FOUND


@this(govukWrapper: GovukWrapperTemplate)

@(pageTitle: String, heading: String, message: String, appConfig: FrontendAppConfig, status: Option[Int] = None)(implicit request: Request[_], messages: Messages)

@contentHeader = {
  <h1>@messages(heading)</h1>
}

@mainContent = {

   @if(status.contains(NOT_FOUND)){
    <p>@messages("common.standardPageNotFoundErrorMessageContent1")</p>
    <p>@messages("common.standardPageNotFoundErrorMessageContent2")</p>
    <p>@messages("common.standardPageNotFoundErrorMessageContent3")</p>
   } else {
    <p>@messages(message)</p>
   }
}

@govukWrapper(appConfig = appConfig, title = titleNoForm(pageTitle), contentHeader = Some(contentHeader), mainBody = mainContent)
