@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import layouts.GovUkTemplate
@import uk.gov.hmrc.play.views.html.layouts.HeadWithTrackingConsent
@import uk.gov.hmrc.play.views.html.layouts.HeaderNav
@import uk.gov.hmrc.play.views.html.layouts.Footer
@import uk.gov.hmrc.play.views.html.layouts.ServiceInfo
@import uk.gov.hmrc.play.views.html.layouts.MainContentHeader
@import uk.gov.hmrc.play.views.html.layouts.MainContent
@import uk.gov.hmrc.play.views.html.layouts.Sidebar
@import uk.gov.hmrc.play.views.html.layouts.Article
@import uk.gov.hmrc.play.views.html.layouts.FooterLinks
@import uk.gov.hmrc.play.views.html.helpers.ReportAProblemLink
@import views.html.LanguageSelection
@import _root_.views.ViewUtils._
@import uk.gov.hmrc.webchat.client.WebChatClient

@this(head: HeadWithTrackingConsent,
headerNav: HeaderNav,
footer: Footer,
serviceInfo: ServiceInfo,
mainContentHeader: MainContentHeader,
mainContent: MainContent,
sidebar: Sidebar,
article: Article,
reportAProblemLink: ReportAProblemLink,
footer_links: FooterLinks,
hmrcGovUkTemplate: GovUkTemplate,
languageSelection: LanguageSelection,
webChatClient: WebChatClient)

@(appConfig: config.FrontendAppConfig,
  title: String,
  mainClass: Option[String] = None,
  mainDataAttributes: Option[Html] = None,
  bodyClasses: Option[String] = None,
  sidebar: Html = Html(""),
  contentHeader: Option[Html] = None,
  mainBody: Html = Html(""),
  serviceInfoContent: Html = Html(""),
  scriptElem: Option[Html] = None,
  js: Seq[String] = Seq(),
  css: Option[String] = None,
  showSignout: Boolean = true)(implicit request: Request[_], messages: Messages)

@headContent = {
    @head(
      linkElem = None,
      headScripts = None)
    <meta name="format-detection" content="telephone=no" />
    @css.map { x =>
        <link rel="stylesheet" href='@routes.Assets.versioned(s"stylesheets/$x.css")' />
    }
}

@headerNavLinks = {
    <li>
        <a href="@routes.IndexController.onPageLoad.url">@messages("site.home")</a>
    </li>
}

@insideHeader = {
    @headerNav(
      navTitle = Some(messages("site.service_name")),
      navTitleLink = None,
      showBetaLink = false,
      navLinks = Some(headerNavLinks))
}

@afterHeader = {}

@scriptElement = {
        <script>
            @if(showSignout) {
                window.GOVUK.timeoutDialog({
                  title: '',
                  message: '@messages("timeout.text")',
                  timeout: @appConfig.timeoutPeriod,
                  countdown: @appConfig.timeoutCountdown,
                  keepAliveUrl: '@controllers.routes.IndexController.onPageLoad.url',
                  keepAliveButtonText: '@messages("timeout.keep_alive")',
                  signOutUrl: '@controllers.errors.routes.SessionExpiredController.onPageLoad.url',
                  signOutButtonText: '@messages("timeout.delete_answers")'
                });
                var dialogOpen;
            }
        </script>
    @scriptElem.map(x => x)

    @{webChatClient.loadRequiredElements()}
    @{webChatClient.loadWebChatContainer("HMRC_Anchored_1")}
}

@bodyEnd = {
    @footer(
      analyticsToken = None,
      analyticsHost = "",
      ssoUrl = None,
      scriptElem = Some(scriptElement),
      gaCalls = None)
      @js.map { x =>
        <script src='@routes.Assets.versioned(s"javascripts/$x")'> </script>
      }
}

@footerTop = {}

@phaseBanner = {}

@serviceInfoHtml = {
    @serviceInfo(
      betaBanner = phaseBanner,
      includeHMRCBranding = false,
      includeGridWrapper = false,
      serviceInfoContent = Some(serviceInfoContent))
}

@mainContentHeaderContent = {

    @if(isWelshEnabled(appConfig)) {
        @languageSelection(
            appConfig.languageMap,
            appConfig.routeToSwitchLanguage,
            Some("translate float--right"))
    }

    @if(contentHeader.isDefined) {
        @mainContentHeader(contentHeader = contentHeader.get)
    }
}

@getHelpForm = @{reportAProblemLink(appConfig.reportAProblemPartialUrl, appConfig.reportAProblemNonJSUrl)}

@content = {
    @mainContent(
      article = mainBody,
      mainClass = mainClass,
      mainDataAttributes = mainDataAttributes,
      mainContentHeader = mainContentHeaderContent,
      serviceInfo = serviceInfoHtml,
      getHelpForm = getHelpForm,
      sidebar = sidebar)
}

@hmrcGovUkTemplate(Some(title), bodyClasses)(headContent, bodyEnd, insideHeader, afterHeader, footerTop, Some(footer_links()), true)(content)
