@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.layouts.Article
@import uk.gov.hmrc.play.views.html.layouts.Sidebar

@this(govukWrapper: templates.GovukWrapperTemplate, article: Article, sidebar: Sidebar)

@(title: String,
  appConfig: FrontendAppConfig,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None,
  articleLayout: Boolean = true,
  js: Seq[String] = Seq("show-hide-content.js", "offpayrollfrontend.js"),
  css: Option[String] = Some("offpayrollfrontend-app"),
  showSignout: Boolean = true)(mainContent: Html)(implicit request : Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.layouts

@serviceInfoContent = {@Html("")}

@sidebarContent = {
    @if(sidebarLinks.isDefined) {
        @sidebar(sidebarLinks.get, Some("sidebar"))
    }
}

@mainBodyContent = @{
    if(articleLayout) article(mainContent) else mainContent
}

@govukWrapper(appConfig = appConfig,
               title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebarContent,
               contentHeader = contentHeader,
               mainBody = mainBodyContent,
               serviceInfoContent = serviceInfoContent,
               scriptElem = scriptElem,
               js = js,
               css = css,
               showSignout = showSignout
)
