@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.config.AssetsConfig

@this(assetsConfig: AssetsConfig)

@(title: String, appConfig: FrontendAppConfig, bodyClasses: Option[String] = None)(content: Html)

<!DOCTYPE html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>@title</title>

        <link href='@template.routes.Template.at("stylesheets/govuk-template.css")' media="screen" rel="stylesheet" type="text/css" />
        <link href='@template.routes.Template.at("stylesheets/govuk-template-print.css")' media="print" rel="stylesheet" type="text/css" />
        <link href='@template.routes.Template.at("stylesheets/fonts.css")' media="all" rel="stylesheet" type="text/css" />
    </head>

    <body id="content" class='@bodyClasses.getOrElse("")'>
        @content
    </body>
</html>


