@import uk.gov.hmrc.offpayroll.controllers.routes
@import uk.gov.hmrc.offpayroll.util.OffPayrollSwitches
@(title: String,
        sidebarLinks: Option[Html] = None,
        contentHeader: Option[Html] = None,
        bodyClasses: Option[String] = None,
        mainClass: Option[String] = None,
        scriptElem: Option[Html] = None,
        virtualPage: Option[String] = None,
        sidebar: Html = HtmlFormat.empty
)(mainContent: Html)(implicit request : Request[_], messages: Messages, lang : Lang)

@import uk.gov.hmrc.play.views.html.layouts
@import uk.gov.hmrc.offpayroll.views.html.govuk_wrapper

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
    }
}
@appConfig = @{uk.gov.hmrc.offpayroll.FrontendAppConfig}
@govuk_wrapper(appConfig = appConfig,
               title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = language.language_selection(OffPayrollSwitches.enableLanguageSwitching.enabled),
               contentHeader = contentHeader,
               mainContent = layouts.article(mainContent),
               serviceInfoContent = HtmlFormat.empty,
               scriptElem = scriptElem,
               virtualPage = virtualPage
)

@analyticsCode(virtualUrl: String, analyticsToken: String) = {
    ga('create', '@analyticsToken', 'auto');
    ga('set', 'page', '/@{appConfig.appUrlPath}/@virtualUrl');
    ga('send', 'pageview', { 'anonymizeIp': true });
}
@bodyEnd = {
    analyticsToken = Some(appConfig.analyticsToken),
    analyticsHost = appConfig.analyticsHost,
    ssoUrl = None,
    scriptElem = scriptElem,
    gaCalls = virtualPage.map(url =>
    (a, b) => analyticsCode(url, appConfig.analyticsToken))

}