@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.personalService.routes._
@import models.sections.personalService.ArrangedSubstitute
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, tailorMsg("arrangedSubstitute.title"), Some(tailorMsg("arrangedSubstitute.subheading"))),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(mode)

    @formWithCsrf(action = ArrangedSubstituteController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_radio(
            field = form("value"),
            legend = components.heading(tailorMsg("arrangedSubstitute.heading"), Some(tailorMsg("arrangedSubstitute.subheading")), asLegend = true),
            legendClass = Some("visually-hidden"),
            inputs = ArrangedSubstitute.options,
            otherContent = Some(content)
        )

        @components.submit_button()
    }
}

@content = {
    <p>@messages(tailorMsg("arrangedSubstitute.p1"))</p>
}
