@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.control.routes._
@import models.sections.control.HowWorkIsDone
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, tailorMsg("howWorkIsDone.title"), Some(tailorMsg("howWorkIsDone.subheading"))),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(mode)

    @formWithCsrf(action = HowWorkIsDoneController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_radio(
            field = form("value"),
            legend = components.heading(tailorMsg("howWorkIsDone.heading"), Some(tailorMsg("howWorkIsDone.subheading")), asLegend = true),
            legendClass = Some("visually-hidden"),
            inputs = HowWorkIsDone.options,
            otherContent = Some(otherContent)
        )

        @components.submit_button()
    }
}

@otherContent = {
    <p>@messages(tailorMsg("howWorkIsDone.p1"))</p>
    <p>@messages(tailorMsg("howWorkIsDone.p2"))</p>
    <p>@messages(tailorMsg("howWorkIsDone.p3.text"))
       @components.new_window_link(tailorMsg("howWorkIsDone.p3.link"), appConfig.employmentStatusManualESM0527Url, Some("employmentStatusManualLink")).
    </p>
}
