@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.control.routes._
@import models.sections.control.MoveWorker
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, tailorMsg("moveWorker.title"), Some(tailorMsg("chooseWhereWork.subheading"))),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(mode)

    @formWithCsrf(action = MoveWorkerController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_radio(
            field = form("value"),
            legend = components.heading(tailorMsg("moveWorker.heading"), Some(tailorMsg("chooseWhereWork.subheading")), asLegend = true),
            legendClass = Some("visually-hidden"),
            otherContent = Some(content),
            inputs = MoveWorker.options
        )

        @components.submit_button()
    }
}
@content = {
    <p>@messages(tailorMsg("moveWorker.p1"))</p>
    <p> @messages(tailorMsg("moveWorker.p2"))
        @components.new_window_link(tailorMsg("moveWorker.p2.link"), appConfig.employmentStatusManualESM0527Url, Some("employmentStatusManualLink")).
    </p>
}
