@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import _root_.views.ViewUtils._

@()(implicit messages: Messages, request: Request[_], appConfig: FrontendAppConfig)

<p>@messages(tailorMsg("arrangedSubstitute.p1"))</p>

@components.bulleted_list(Seq(
    tailorMsg("arrangedSubstitute.bullet1"),
    tailorMsg("arrangedSubstitute.bullet2"),
    tailorMsg("arrangedSubstitute.bullet3"),
    tailorMsg("arrangedSubstitute.bullet4"),
    tailorMsg("arrangedSubstitute.bullet5")
))
