@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import _root_.views.ViewUtils._

@()(implicit messages: Messages, request: Request[_], appConfig: FrontendAppConfig)

    @components.hint(hint)

    @hint = {
        <p>@messages(tailorMsg("officeHolder.p1"))</p>
        <p>@messages(tailorMsg("officeHolder.p2"))</p>

        <ul class="list-bullet print-bullet">
            <li>@messages(tailorMsg("officeHolder.bullet1"))</li>
            <li>@messages(tailorMsg("officeHolder.bullet2"))</li>
            <li>@messages(tailorMsg("officeHolder.bullet3"))</li>
        </ul>
    }

    @components.exclamation(Html(messages(tailorMsg("officeHolder.exclamation"))))
    
