@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import models.Mode
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import views.ViewUtils._
@import play.api.i18n.MessagesApi

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(appConfig: FrontendAppConfig)(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = titleNoForm("newPageNotFoundErrorMessage.title"),
    appConfig = appConfig,
    bodyClasses = None,
    showSignout = false) {

    @components.heading("newPageNotFoundErrorMessage.heading")


        <p>@messages("newPageNotFoundErrorMessage.p1")
        <a id="start" href="@{controllers.routes.StartAgainController.redirectToDisclaimer.url}">@messages("newPageNotFoundErrorMessage.link")</a>

        @messages("newPageNotFoundErrorMessage.p2")</p>

        <p>@messages("newPageNotFoundErrorMessage.p3")</p>


}
