@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import models.Mode
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(appConfig: FrontendAppConfig)(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = titleNoForm("session.expired.title"),
    appConfig = appConfig,
    bodyClasses = None,
    showSignout = false) {

    @components.heading("session.expired.heading")

    <div class="section">
        <a href="@{controllers.routes.StartAgainController.redirectToDisclaimer.url}" class="button">@messages("session.expired.start_again")</a>
    </div>
}
