@import uk.gov.hmrc.offpayroll.util.ResultPageHelper
@(cluster: String, resultPageHelper: ResultPageHelper, messages: Messages, renderShowHideToggle: Boolean)

<h2>@messages(cluster+"Cluster"+".title")</h2>
@if(!cluster.equals("setup")){
    <p>@messages(cluster+"Cluster"+".summary")</p>

}
@if(renderShowHideToggle){
    <details>
        <summary role="button">
            <span class="summary">@messages("result.viewMyAnswers")</span>
        </summary>
        <panel>
            <ul class="section">
            @for((key, value) <- resultPageHelper.getQuestionsAndAnswersForCluster(cluster)) {
                <li class="divider--bottom" style="padding-bottom: 0.7pc;"><h3>@messages(key)</h3>
                    <div>@resultPageHelper.fragments.get(key)</div>
                    @for(child <- value) {
                        <div id="answer.@key" class="panel-indent">@messages(child)</div>
                    }
                </li>
            }
            </ul>
        </panel>
    </details>
}else{
    <ul class="section">
    @for((key, value) <- resultPageHelper.getQuestionsAndAnswersForCluster(cluster)) {
        <li class="divider--bottom"><h3>@messages(key)</h3>
            <div>@resultPageHelper.fragments.get(key)</div>
            @for(child <- value) {
                <div id="answer.@key" class="panel-indent">@messages(child)</div>
            }
        </li>
    }
    </ul>
}