@import uk.gov.hmrc.offpayroll.controllers.routes

@()(implicit request: Request[_], messages: Messages, lang : Lang)
@import uk.gov.hmrc.offpayroll.controllers.routes
@uk.gov.hmrc.offpayroll.views.html.main_template(
    title = "Cookies Disabled",
    bodyClasses = None,
    virtualPage = Some("cookiesDisabled")
) {
    <main role="main">
        <p>
            We've noticed your browser's cookies are switched off. To use this service, you'll need to <a href="https://www.aboutcookies.org/how-to-control-cookies/" target="_blank">switch cookies on</a>.
        </p>
        <p>
            <a href="@routes.InterviewController.begin()">Start again</a>
        </p>
    </main>

}



