@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models.ElementType
@import uk.gov.hmrc.offpayroll.controllers.routes
@import uk.gov.hmrc.offpayroll.models.Decision
@import uk.gov.hmrc.offpayroll.models.Element
@import play.api.Play
@import java.util.Date

@import uk.gov.hmrc.offpayroll.models.Decision
@import uk.gov.hmrc.offpayroll.models.{IN, OUT, UNKNOWN}
@import uk.gov.hmrc.offpayroll.util.OffPayrollSwitches
@import uk.gov.hmrc.offpayroll.util.ResultPageHelper._
@import uk.gov.hmrc.offpayroll.services.FragmentService

@import uk.gov.hmrc.offpayroll.util.ResultPageHelper
@(decision: Decision, interview: List[(String, List[String])],
        esi: Boolean, compressedInterview: String, resultPageHelper: ResultPageHelper, f:Form[_])(implicit request: Request[_], messages: Messages, lang: Lang)


    @uk.gov.hmrc.offpayroll.views.html.main_template(
        title = Messages(esi + "." + decision.decision),
        bodyClasses = None,
        mainClass = Option("decision"),
        virtualPage = Some("decisionDisplay")
    ) {

        <main role="main" class="result">

            @helpers.form(routes.PrintController.format, 'id -> "resultData") {

                <a href="@routes.InterviewController.back()" style="line-height:3">@Messages("back.capitalised")</a>

                @if(f.errors.headOption.isDefined) {
                    <div class="flash error-summary error-summary--show" id="error-summary-display" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                        @if(OffPayrollSwitches.offPayrollPdf.enabled) {
                            <a>@Messages("declarationBox.error.pdf")</a>
                        } else {
                            <a>@Messages("declarationBox.error.print")</a>
                        }
                    </div>
                }

                @dynamicResult(decision,resultPageHelper,f)

                <div class="form-group @if(f.errors.headOption.isDefined) {
                    error
                }">
                <div class="bordered-box bordered-box--shaded" id="promise">
                    <label for="promise">
                        <input type="checkbox" name="promise" id="promise"/>&nbsp;@Messages("result.declaration.heading")
                    </label>
                        <ul class="bullets">
                            <li><label for="promise">@Messages("result.declaration.readGuidance")</label></li>
                            <li><label for="promise">@Messages("result.declaration.reviewedAnswers")</label></li>
                            <li><label for="promise">@Messages("result.declaration.answersReflectPractice")</label></li>
                        </ul>
                    <label for="promise">@Messages("result.declaration.practicesWontChange")</label>
                </div>
                </div>
                <input type="hidden" name="esi" value="@esi" />
                <input type="hidden" name="decisionResult" value="@decision.decision" />
                <input type="hidden" name="compressedInterview" value="@compressedInterview" />
                <input type="hidden" name="decisionVersion" value="@decision.version" />
                <input type="hidden" name="decisionCluster" value="@decision.cluster" />

                @if(OffPayrollSwitches.offPayrollPdf.enabled) {
                    <button class="button">@Messages("result.confirmAndSave")</button>
                } else {
                    <button class="button">@Messages("result.confirmAndPrint")</button>
                }

            }

        </main>

        @if(Play.current.configuration.getBoolean("ui.debug").getOrElse(false)) {


            <div style="clear: both" >
                <p>Interview:</p>
                <ul>
                @for(interviewElement <- interview) {
                    <li>@interviewElement.toString</li>
                }
                </ul>
            </div>
        }
    }

