@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.offpayroll.models.ElementType
@import uk.gov.hmrc.offpayroll.controllers.routes
@import uk.gov.hmrc.offpayroll.models.Decision
@import uk.gov.hmrc.offpayroll.models.Element
@import play.api.Play
@import java.util.Date

@import uk.gov.hmrc.offpayroll.models.Decision
@import uk.gov.hmrc.offpayroll.models.{IN, OUT, UNKNOWN}
@import uk.gov.hmrc.offpayroll.util.OffPayrollSwitches
@import uk.gov.hmrc.offpayroll.util.ResultPageHelper._
@import uk.gov.hmrc.offpayroll.services.FragmentService

@import uk.gov.hmrc.offpayroll.util.ResultPageHelper
@(decision: Decision, interview: List[(String, List[String])],
        esi: Boolean, compressedInterview: String, fragments: Map[String, Html], resultPageHelper: ResultPageHelper)(implicit request: Request[_], messages: Messages)


    @uk.gov.hmrc.offpayroll.views.html.main_template(
        title = Messages(esi + "." + decision.decision),
        bodyClasses = None,
        mainClass = Option("decision"),
        virtualPage = Some("decisionDisplay")
    ) {

        <main role="main" class="result">
            <a href="@routes.InterviewController.back()" style="line-height:3">Back</a>
                    <div class="transaction-banner--complete">
                        <span class="transaction-banner__heading h1-heading" id="decision-banner">@Messages(resultPageHelper.getDecisionTag+".headerBox")</span>
                    </div>

            <h2>@Messages("result.summary")</h2>
            @fragments.get("result."+resultPageHelper.getDecisionTag+".resultSummary")

            @if(resultPageHelper.getQuestionsAndAnswersForCluster("setup").nonEmpty){
                @clusterResult("setup",resultPageHelper, fragments, messages)
            }

            @if(resultPageHelper.getQuestionsAndAnswersForCluster("exit").nonEmpty){
                @clusterResult("exit",resultPageHelper, fragments, messages)
            }

            @if(resultPageHelper.getQuestionsAndAnswersForCluster("personalService").nonEmpty){
                @clusterResult("personalService",resultPageHelper, fragments, messages)
            }

            @if(resultPageHelper.getQuestionsAndAnswersForCluster("control").nonEmpty){
                @clusterResult("control",resultPageHelper, fragments, messages)
            }

            @if(resultPageHelper.getQuestionsAndAnswersForCluster("financialRisk").nonEmpty){
                @clusterResult("financialRisk",resultPageHelper, fragments, messages)
            }

            @if(resultPageHelper.getQuestionsAndAnswersForCluster("partParcel").nonEmpty){
                @clusterResult("partParcel",resultPageHelper, fragments, messages)
            }


            <h2>  --------------------- END OF NEW RESULTS PAGE ---------------------</h2>


            @helpers.form(routes.PrintController.format, 'id -> "resultData") {
                <input type="hidden" name="esi" value="@esi" />
                <input type="hidden" name="decisionResult" value="@decision.decision" />
                <input type="hidden" name="compressedInterview" value="@compressedInterview" />
                <input type="hidden" name="decisionVersion" value="@decision.version" />
                <input type="hidden" name="decisionCluster" value="@decision.cluster" />
                <div  class="indent-warning">
                    <div>HMRC will not keep a record of this transaction for security reasons.</div>
                    @if(OffPayrollSwitches.offPayrollPdf.enabled) {
                        <button class="button button--link">Please save a pdf for your records</button>
                    } else {
                        <button class="button button--link">Please print a copy for your records</button>
                    }
                </div>
                }

                @resultDecisionExplained_template(esi, decision.decision.toString())
                @resultNextSteps_template(esi, decision.decision.toString())

                    <h2 class="heading-medium">Your answers</h2>
                    <ol id="yourAnswers">
                    @for((key, value) <- interview) {
                        <li class="section divider--bottom"><h3>@messages(key)</h3>
                            <div>@fragments.get(key)</div>
                            @for(child <- value) {
                                <div id="answer.@key" class="panel-indent">@messages(child)</div>
                            }
                        </li>
                    }
                    </ol>
            <p>Decision Service Version: <span id="dsVersion">@decision.version</span></p>

        </main>

        @if(Play.current.configuration.getBoolean("ui.debug").getOrElse(false)) {


            <div style="clear: both" >
                <p>Interview:</p>
                <ul>
                @for(interviewElement <- interview) {
                    <li>@interviewElement.toString</li>
                }
                </ul>
            </div>
        }
    }

