
@import uk.gov.hmrc.play.views.html.helpers
@import uk.gov.hmrc.play.views.html.helpers.input
@import uk.gov.hmrc.offpayroll.models._
@import uk.gov.hmrc.offpayroll.models.Element
@import uk.gov.hmrc.offpayroll.controllers.FormatPrint
@import play.api.Play

@(formatPrint: FormatPrint)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.offpayroll.controllers.routes
@uk.gov.hmrc.offpayroll.views.html.main_template(
    title = Messages("format print"),
    bodyClasses = None,
    virtualPage = None
    ) {


    <h1>@Messages("formatPrint.mainHeading")</h1>
    <p class="form-field--hint">
        @Messages("formatPrint.formHint")
    </p>
    @helpers.form(routes.PrintController.printResult, 'id -> "resultData") {

        <input type="hidden" name="esi" id="esi" value="@formatPrint.esi" />
        <input type="hidden" name="decisionResult" id="decisionResult" value="@formatPrint.decisionResult" />
        <input type="hidden" name="compressedInterview" id="compressedInterview" value="@formatPrint.compressedInterview" />
        <input type="hidden" name="decisionVersion" id="decisionVersion" value="@formatPrint.decisionVersion" />
        <input type="hidden" name="decisionCluster" id="decisionCluster" value="@formatPrint.decisionCluster" />
        <fieldset class="form-field-group">
            <div class="form-field">
                <label>
                    @Messages("formatPrint.person")
                    <input type="text"
                    name="completedBy" id="completedBy" class="form-control form-control--block"/>
                </label>
            </div>
            <div class="form-field">
                <label>
                    @Messages("formatPrint.client")
                    <input type="text"
                    name="client" id="client" class="form-control form-control--block"/>
                </label>
            </div>
            <div class="form-field">
                <label>
                    @Messages("formatPrint.jobTitle")
                    <input type="text"
                    name="job" id="job" class="form-control form-control--block"/>
                </label>
            </div>
            <div class="form-field">
                <label>
                    @Messages("formatPrint.reference")
                    <input type="text"
                    name="reference" id="reference" class="form-control form-control--block"/>
                </label>
            </div>
        <button>@Messages("global.button.continue")</button>
    }
<script type="text/javascript">
        (function() {
            document.getElementById("resultData").addEventListener("submit", function () {
                var endClient = document.getElementById("client").value;
                var role = document.getElementById("job").value;
                var decision = document.getElementById("decisionResult").value;

                ga("send", "event", "Forms", "end-client,role,decision", endClient+","+role+","+decision);
            });

        })();
</script>
}