@import uk.gov.hmrc.offpayroll.controllers.PrintResult
@import uk.gov.hmrc.offpayroll.util.ResultPageHelper
@import uk.gov.hmrc.offpayroll.models.Decision

@(printResult: PrintResult, decision: Decision,resultPageHelper: ResultPageHelper, f:Form[_])(implicit request: Request[_], messages: Messages)
@uk.gov.hmrc.offpayroll.views.html.print_template(
    Some("Print Result"),
    Some(""))(head ,Html(""),Html(""),Html(""),Html(""),Some(Html("")), false) {
    <div id="content">
        <article class="content__body">
            <table>
                <tr>
                    <th>@Messages("formatPrint.person")</th>
                    <td>@printResult.completedBy</td>
                </tr>
                <tr>
                    <th>@Messages("formatPrint.client")</th>
                    <td>@printResult.client</td>
                </tr>
                <tr>
                    <th>@Messages("formatPrint.jobTitle")</th>
                    <td>@printResult.job</td>
                </tr>
                <tr>
                    <th>@Messages("formatPrint.reference")</th>
                    <td>@printResult.reference</td>
                </tr>
            </table>

            @dynamicResult(decision,resultPageHelper,f)

        </article>
    </div>

}
@title={
    Print @Messages(printResult.esi + "." + printResult.decisionResult)
}
@head = {
    <style>
    #content {
        display: block;
        max-width: 960px;
        margin: 0 auto;
        padding: 0em .78947em 1.68421em .78947em;
        line-height: 1.5;
        font-family: "nta",Arial,sans-serif;
        font-size: 19px;
        line-height: 1.31579;
        font-weight: 400;
        text-transform: none;
    }
    #skiplink-container{
        display: none;
    }
    table {
        width: 100%;
        margin-bottom: 1.57895em;
        border-collapse: collapse;
        border-spacing: 0;
    }
    table th, table td {
        font-family: "nta", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 300;
        text-transform: none;
        padding: 0.73684em 1.05263em 0.52632em 0;
        text-align: left;
        color: #0b0c0c;
        border-bottom: 1px solid #bfc1c3;
    }
    table th {
        font-weight: 700;
        width: 30%;
    }
    .transaction-banner--complete {
        background-color: #28a197;
        color: #fff;
        padding: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    .transaction-banner__heading {
        font-family: "nta",Arial,sans-serif;
        font-size: 36px;
        line-height: 1.11111;
        font-weight: 400;
        text-transform: none;
        font-weight: 700;
        margin: 15px 0;
    }
    article h3 {
        font-family: "nta",Arial,sans-serif;
        font-size: 19px;
        line-height: 1.31579;
        font-weight: 400;
        text-transform: none;
        font-weight: 700;
        margin:0 0 0.75em;
    }
    article ol {
        margin: 0.75em 0.2em 0.75em 0;
        padding: 0 0 0 20px;
        list-style-type: decimal;
    }
    .divider--bottom {
        border-bottom: 1px solid #bfc1c3;
    }
    .section, .section--branded {
        margin-bottom: 1em;
        padding: 1em 0;
    }
    .panel-indent {
        margin: 0;
        clear: both;
        border-left: 4px solid #bfc1c3;
        padding: 10px 0 10px 15px;
    }
    a{
        text-decoration: none;
        color: #0b0c0c ;
    }
    a:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}

    .form-hint{
        color: #6f777b;
    }
    .indent-warning {
        background: transparent no-repeat 0 0;
        /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAQAAAC00HvSAAABZklEQVR4Aa3WsWoTUBTG8V9v4yQElywRAlYzJVCQdMrgmKVDce3m3mfI0ofoY7QQfAOngmQIOGgzOGRpQYhLUynHZjb3JtL7/+8f53DhfmfPZlqGjvR1tTUtLXw3c+2LWzsycG4qNjp1bmArHWM3ouiNsY4CIxOxkxMjGU7NxM7OnG4OmYv/cv5v0KgwSWmiEdAAHWd6NvLeHsJXG+g5881PgLHI+RBrHkLOMcCg9MS/Y82y9PwDEk4cyHIPVrIcOCFpOVZgtS2GY61k6PCZMYeGyRFsW+pekaOkzzOnoZ90K8R0k3aFpdpJs8I0zWRZIWaZLCosteBKlNyPF0/uh5JXyUyRR3+efFRk1nCtyBufrFy4U+CalqnI+Tp+xZof8TLknGoltyayfPQKvPVBlonbhEtzGe4A8kvNXW79/RrxOdZc7PD70cn301704l2przoVm6FCT1VozQodXuuiqH/fVLq2/gLNMwwtCpJpLgAAAABJRU5ErkJggg==);*/
        padding-left: 2.36842em;
    }
    </style>
}

