@(esi: Boolean, decision: String)



@if(esi) {

    @decision match {
        case "IN" => {
            <p>You need to reassess the status if this engagement varies or changes.</p>
        }
        case "OUT" => {
            <p>You need to reassess the status if this engagement varies or changes.</p>
        }
        case "UNKNOWN" => {
            <p>We need more information to understand the working practices of this engagement.
            </p>
        }
        case _ => {
            <p>We need more information to understand the working practices of this engagement.
            </p>
        }
    }
} else {

    @decision match {
        case "IN" => {
            <p>Based on the information you’ve given the working practices of this engagement fall within the scope of the intermediaries legislation.</p>
            <p>The worker should pay tax and National Insurance as if they were an employee.</p>
            <p>You should reassess the status of the role if there are changes to the engagement or the way the work is done.</p>
        }
        case "OUT" => {
            <p>Based on the information you’ve given the working practices of this engagement fall outside the scope of the intermediaries legislation.</p>
            <p>The worker should pay tax and National Insurance as a self-employed person.</p>
            <p>You should reassess the status of the role if there are changes to the engagement or the way the work is done.</p>
        }
        case "UNKNOWN" => {
            <p>We need more information to understand the working practices of this engagement.</p>
        }
        case _ => {
            <p>We need more information to understand the working practices of this engagement.</p>
        }
    }
}