@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import models.Mode
@import views.ViewUtils._
@import models.NormalMode

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(postAction: Call)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(title = titleNoForm("agencyAdvisory.title"),
appConfig = appConfig,
bodyClasses = None) {

    @components.back_link()(NormalMode)

    @formWithCsrf(postAction, 'autoComplete -> "off") {

        @components.heading("agencyAdvisory.heading")

        <p>@messages("agencyAdvisory.p1")</p>

        @components.submit_button()
    }
}
