@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import models.Mode
@import views.ViewUtils._
@import models.NormalMode

@this(mainTemplate: templates.MainTemplate)

@(startAgain: Call)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(title = titleNoForm(tailorMsg("intermediaryResult.title")),
appConfig = appConfig,
bodyClasses = None) {

    @components.back_link()(NormalMode)

    @components.heading(tailorMsg("intermediaryResult.heading"))

    <p>@messages(tailorMsg("intermediaryResult.p1"))</p>
    <p>@messages(tailorMsg("intermediaryResult.p2"))</p>

    <h2>@messages(tailorMsg("intermediaryResult.subheading"))</h2>

    <p>@messages(tailorMsg("intermediaryResult.p3"))</p>

    <p>
        @messages(tailorMsg("intermediaryResult.p4.text1"))
        @components.new_window_link(tailorMsg("intermediaryResult.p4.link1"), appConfig.understandingOffPayrollUrl, Some("understanding-off-payroll"))@messages(tailorMsg("intermediaryResult.p4.text2"))
        <a id="start-again" href="@{startAgain.url}">@messages(tailorMsg("intermediaryResult.p4.link2"))</a>
    </p>
}
