@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import models.Mode
@import views.ViewUtils._
@import models.NormalMode

@this(mainTemplate: templates.MainTemplate)

@(startAgain: Call)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(title = titleNoForm(tailorMsg("noIntermediaryResult.title")),
appConfig = appConfig,
bodyClasses = None) {

    @components.back_link()(NormalMode)

    @components.heading(tailorMsg("noIntermediaryResult.heading"))

    <p>
        @messages(tailorMsg("noIntermediaryResult.p1.text1"))
        @components.new_window_link(tailorMsg("noIntermediaryResult.p1.link"), appConfig.understandingOffPayrollUrl, Some("understanding-off-payroll"))
        @messages(tailorMsg("noIntermediaryResult.p1.text2"))
    </p>

    <p>@messages(tailorMsg("noIntermediaryResult.p2"))</p>

    <a id="start-again" href="@{startAgain.url}" class="button">@messages(tailorMsg("noIntermediaryResult.startAgain"))</a>

}
