@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.setup.routes._
@import models.Mode
@import views.ViewUtils._
@import viewmodels.RadioOption
@import models.sections.setup.WhatDoYouWantToFindOut


@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, "whatDoYouWantToFindOut.title", Some("whatDoYouWantToFindOut.subheading")),
    appConfig = appConfig,
    bodyClasses = None) {

    @formWithCsrf(action = WhatDoYouWantToFindOutController.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()(mode)

        @components.error_summary(form.errors)

        @components.input_radio(
            field = form("value"),
            legend = components.heading("whatDoYouWantToFindOut.heading", Some("whatDoYouWantToFindOut.subheading"), asLegend = true),
            legendClass = Some("visually-hidden"),
            inputs = WhatDoYouWantToFindOut.options
        )

        @components.submit_button()
    }
}
