@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.setup.routes._
@import models.Mode
@import views.ViewUtils._
@import viewmodels.RadioOption
@import models.sections.setup.WhoAreYou

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(postAction: Call, form: Form[_], mode: Mode, showAgency: Boolean = true)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, "whoAreYou.title", Some("whoAreYou.subheading")),
    appConfig = appConfig,
    bodyClasses = None) {

    @formWithCsrf(postAction, 'autoComplete -> "off") {

        @components.back_link()(mode)

        @components.error_summary(form.errors)

        @components.input_radio(
            field = form("value"),
            legend = components.heading("whoAreYou.heading", Some("whoAreYou.subheading"), asLegend = true),
            legendClass = Some("visually-hidden"),
            inputs = WhoAreYou.options(showAgency)
        )

        @components.submit_button()
    }
}
