.page-heading .heading-large {
    margin-bottom: 0;
    margin-top: .25em;
}

.cya-row {
  padding-top: 10px;
}

.no-border {
   border: none;
}

.govuk-check-your-answers {
  padding-top:0.75em !important;
}