@import 'partials/_typography';
@import 'partials/_accordion';

@page {
    size: A4 portrait;
    margin: 0;
}

.print-document {

    border: 1px solid #6f777b;
    box-shadow: 6px 6px 0 0 #dee0e2;
    padding: 25px 50px;
    width: 75%;

    table td {
        border: none;
    }

    h2, h3, h4 {
        margin-top: 0;
    }

    .print-header {
        margin-bottom: 15px;

        .column-one-third {
            border-left: #28A197 solid;
            padding-left: 8px;
        }

        h2 {
            font-size: 1.4em;
            font-weight: normal;
            margin: 0;
            line-height: 1;
        }

        h3 {
            text-align: right;
            margin-top: 2em;
            font-size: 1.2em;
            color: #28A197;
            font-weight: 600
        }
    }

    .print-footer {
      position: fixed;
      bottom: 0;
      padding: 1em;
    }

    .print-header, .header-space,
    .print-footer, .footer-space {
      height: 150px;
    }
}

.print-document__information-box {
    border: 2px solid #28a197;
    display: block;
    margin-bottom: 1em;
    padding: 10px 20px;
    width: 100%;
    background-color: #e1f3f1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact
}

.date-of-result, .decision-service-version {
    border-bottom: 2px solid #28a197
}

.date-of-result h3 {
    margin-bottom: 0
}

.about-this-result-box {
    background: #e1f3f1;
    padding: 1px 10px;
    font-size: 15px;
    -webkit-print-color-adjust: exact
}

.about-this-result, .date-of-result {
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (min-width: 641px) {
    .letter .column-two-thirds {
        width: 62%
    }
    .letter .column-one-third {
        width: 38%
    }
}

@media screen and (max-width: 641px) {
    .print-document {
        zoom: 75%;
    }
    .print-header, .header-space,
    .print-footer, .footer-space {
      height: 100px;
    }
    .column-one-half {
        width: 50%;
        float: left;
    }
    .column-one-third {
        width: 33%;
        float: left;
    }
    .column-two-thirds {
        width: 66%;
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .print-document {
        zoom: 40%;
    }
}

.heading-medium {
    font-size: 30px
}


@media print {

    #print-and-save-result {
        display: none;
    }

    .print-header {
        position: fixed;
        top: 10;
    }

    .centered-content {
        display: none;
    }

    #global-cookie-message {
        display: none;
    }

    .translate {
        display: none;
    }

    header {
        display: none;
    }

    .print-document {
        border: none;
        box-shadow: none;
        padding: 1em;
        width: 95%;
    }

    .report-error {
        display: none;
    }
}

thead {
    display: table-header-group;
}
tfoot {
    display: table-header-group;
}

#answer ul {
    margin-top: 0;
}

ul.section {
    margin: 0;
    padding:0;
}

ul.section ul {
    margin: 0;
    padding:0;
    margin-top: 1em;
}

ul.section > li{
    list-style-type: none;
    margin-bottom: 1em;
}

ul.section > ul > li {
    list-style-type: none;
    margin-bottom: 1em;
}

ul.section ul + h2 {
    margin-top: 2.5em;
}

p.form-hint{
    margin: 0 0 0.5em 0;
}

.notice {
    min-height: 2em;
}

.section-heading {
    color: #005EA5;
}

.answer--container {
    display: table;
    page-break-inside: avoid !important;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.answer--question {
    float: left;
    width: 50%;
}

.answer--question p strong {
    font-weight: 700;
}

.answer--answer {
    float: left;
    width: 50%;
}

.answer--answer p {
    margin-left: 1em;
}