@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.financialRisk.routes._
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, tailorMsg("equipmentExpenses.title"), Some(tailorMsg("equipmentExpenses.subheading"))),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(mode)

    @formWithCsrf(action = EquipmentExpensesController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_yes_no(
            field = form("value"),
            legend = components.heading(tailorMsg("equipmentExpenses.heading"), Some(tailorMsg("equipmentExpenses.subheading")), asLegend = true),
            otherContent = Some(content),
            labelClass = Some("visually-hidden")
        )

        @components.submit_button()
    }
}

@content = {
    <p>@messages(tailorMsg("equipmentExpenses.p1"))</p>
    <p>@messages(tailorMsg("equipmentExpenses.p2"))</p>
}