@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.financialRisk.routes._
@import models.sections.financialRisk.PutRightAtOwnCost
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, tailorMsg("putRightAtOwnCost.title"), Some(tailorMsg("putRightAtOwnCost.subheading"))),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(mode)

    @formWithCsrf(action = PutRightAtOwnCostController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_radio(
            field = form("value"),
            legend = components.heading(tailorMsg("putRightAtOwnCost.heading"), Some(tailorMsg("putRightAtOwnCost.subheading")), asLegend = true),
            legendClass = Some("visually-hidden"),
            inputs = PutRightAtOwnCost.options
        )

        @components.submit_button()
    }
}
