@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.businessOnOwnAccount.routes._
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, tailorMsg("followOnContract.title"), Some(tailorMsg("followOnContract.subheading"))),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(mode)

    @formWithCsrf(action = FollowOnContractController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_yes_no(
            field = form("value"),
            legend = components.heading(tailorMsg("followOnContract.heading"), Some(tailorMsg("followOnContract.subheading")), asLegend = true),
            labelClass = Some("visually-hidden"),
            otherContent = Some(p1)
        )

        @components.submit_button()
    }
}

@p1 = {
    <p>@messages(tailorMsg("followOnContract.p1"))</p>
}
