@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.businessOnOwnAccount.routes._
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, tailorMsg("majorityOfWorkingTime.title"), Some(tailorMsg("majorityOfWorkingTime.subheading"))),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(mode)

    @formWithCsrf(action = MajorityOfWorkingTimeController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_yes_no(
            field = form("value"),
            legend = components.heading(tailorMsg("majorityOfWorkingTime.heading"), Some(tailorMsg("majorityOfWorkingTime.subheading")), asLegend = true),
            labelClass = Some("visually-hidden"),
            otherContent = Some(p1)
        )

        @components.submit_button()
    }
}

@p1 = {
    <p>@messages(tailorMsg("majorityOfWorkingTime.p1"))</p>
    <p>@messages(tailorMsg("majorityOfWorkingTime.p2"))
        @components.new_window_link(tailorMsg("majorityOfWorkingTime.p2.link"), appConfig.employmentStatusManualESM11160Url, Some("employmentStatusManualLink")).
    </p>
}