@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.sections.businessOnOwnAccount.routes._
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, "hirer.workerKnown.title", Some("hirer.workerKnown.subheading")),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(mode)

    @formWithCsrf(action = WorkerKnownController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_yes_no(
            field = form("value"),
            legend = components.heading("hirer.workerKnown.heading", Some("hirer.workerKnown.subheading"), asLegend = true),
            labelClass = Some("visually-hidden"),
            otherContent = Some(content)

        )

        @components.submit_button()
    }
}

@content = {
    <p>@messages(tailorMsg("workerKnown.p1"))</p>
    <p>@messages(tailorMsg("workerKnown.p2"))</p>
}

