@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.routes._
@import models.Mode
@import views.ViewUtils._
@import views.html.components._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(problemPageUri: String)(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = titleNoForm("accessibilityStatement.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()()

    @components.heading("accessibilityStatement.heading")

    <p>@messages("accessibilityStatement.p1")</p>

    <p>
        @messages("accessibilityStatement.p2.preLink")
        @new_window_or_tab_link("accessibilityStatement.p2.link", appConfig.govukAccessibilityStatementUrl)
        @messages("accessibilityStatement.p2.postLink")
    </p>

    <p>
        @messages("accessibilityStatement.p3.preLink")
        <a href='@appConfig.govUkStartPageUrl'>@messages("accessibilityStatement.p3.link")</a>.
    </p>

    <div id="usingService">
        <h2>@messages("accessibilityStatement.usingService.h2")</h2>

        <p>@messages("accessibilityStatement.usingService.p1")</p>

        <p>@messages("accessibilityStatement.usingService.p2")</p>

        @components.bulleted_list(Seq(
            "accessibilityStatement.usingService.bullet1",
            "accessibilityStatement.usingService.bullet2",
            "accessibilityStatement.usingService.bullet3",
            "accessibilityStatement.usingService.bullet4",
            "accessibilityStatement.usingService.bullet5"
        ))

        <p>@messages("accessibilityStatement.usingService.p3")</p>

        <p>
            @messages("accessibilityStatement.usingService.p4.preLink")
            @new_window_or_tab_link("accessibilityStatement.usingService.p4.link", appConfig.abilityNetUrl)
            @messages("accessibilityStatement.usingService.p4.postLink")
        </p>
    </div>

    <div id="howAccessible">

        <h2>@messages("accessibilityStatement.howAccessible.h2")</h2>

        <p>
            @messages("accessibilityStatement.howAccessible.p1.preLink")
            @new_window_or_tab_link("accessibilityStatement.howAccessible.p1.link", appConfig.wcagUrl).
        </p>

        <p>@messages("accessibilityStatement.howAccessible.p2")</p>
    </div>

    <div id="reportProblems">

        <h2>@messages("accessibilityStatement.reportProblems.h2")</h2>

        <p>
            @messages("accessibilityStatement.reportProblems.p1.preLink")
            @new_window_or_tab_link("accessibilityStatement.reportProblems.p1.link", appConfig.reportAccessibilityIssueUrl(problemPageUri), Some("reportAccessibilityIssue")).
        </p>

    </div>

    <div id="notHappy">

        <h2>@messages("accessibilityStatement.notHappy.h2")</h2>

        <p>
            @messages("accessibilityStatement.notHappy.p1.preLink1")
            @new_window_or_tab_link("accessibilityStatement.notHappy.p1.link1", appConfig.eassUrl)
            @messages("accessibilityStatement.notHappy.p1.preLink2")
            @new_window_or_tab_link("accessibilityStatement.notHappy.p1.link2", appConfig.ecniUrl)
            @messages("accessibilityStatement.notHappy.p1.postLink2")
        </p>

    </div>

    <div id="contactUs">

        <h2>@messages("accessibilityStatement.contactUs.h2")</h2>

        <p>@messages("accessibilityStatement.contactUs.p1")</p>

        <p>@messages("accessibilityStatement.contactUs.p2")</p>

        <p>
            @messages("accessibilityStatement.contactUs.p3.preLink")
            @new_window_or_tab_link("accessibilityStatement.contactUs.p3.link", appConfig.hmrcAdditionalNeedsUrl).
        </p>

    </div>

    <div id="technicalReference">

        <h2>@messages("accessibilityStatement.technicalReference.h2")</h2>

        <p>@messages("accessibilityStatement.technicalReference.p1")</p>

        <p>
            @messages("accessibilityStatement.technicalReference.p2.preLink")
            @new_window_or_tab_link("accessibilityStatement.technicalReference.p2.link", appConfig.hmrcAdditionalNeedsUrl).
        </p>

    </div>

    <div id="howTested">

        <h2>@messages("accessibilityStatement.howTested.h2")</h2>

        <p>
            @messages("accessibilityStatement.howTested.p1",
            appConfig.lastDacTestDay,
            messages("date." + appConfig.lastDacTestMonth),
            appConfig.lastDacTestYear)
        </p>

        <p>
            @messages("accessibilityStatement.howTested.p2.preLink")
            @new_window_or_tab_link("accessibilityStatement.howTested.p2.link", appConfig.dacUrl).
            @messages("accessibilityStatement.howTested.p2.postLink")
        </p>

        <p>
            @messages("accessibilityStatement.howTested.p3",
            appConfig.accessibilityStatementLastUpdatedDay,
            messages("date." + appConfig.accessibilityStatementLastUpdatedMonth),
            appConfig.accessibilityStatementLastUpdatedYear)
        </p>

    </div>
}
