@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.routes._
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(form: Form[_])(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form, messages("addReferenceDetails.title")),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()()

    @formWithCsrf(action = AddReferenceDetailsController.onSubmit(), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_yes_no(
            field = form("value"),
            legend = components.heading(messages("addReferenceDetails.heading"), asLegend = true),
            labelClass = Some("visually-hidden"),
            otherContent = Some(otherContent)
        )

        @components.submit_button()
    }
}

@otherContent = {
    @components.panel_indent(panel)
    <p>@messages("addReferenceDetails.yourRecordsOnly")</p>
}

@panel = {
    <p>@messages("addReferenceDetails.example")</p>
}