@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import viewmodels._
@import views.ViewUtils._
@import controllers.routes._
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import models.NormalMode
@import models.Section.SectionEnum


@this(mainTemplate: templates.MainTemplate, formWithCsrf: FormWithCSRF)

@(answerSections: Seq[AnswerSection], sectionToExpand: Option[SectionEnum])(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = titleNoForm("checkYourAnswers.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(NormalMode)

    @formWithCsrf(action = CheckYourAnswersController.onSubmit(), 'autoComplete -> "off") {

        @components.heading("checkYourAnswers.heading")

        @Accordion(answerSections, sectionToExpand).html

        <noscript>
            @CheckYourAnswers(answerSections).sections.map(_.html)
        </noscript>

        <h2>@messages("checkYourAnswers.confirm.h2")</h2>

        <p>@messages("checkYourAnswers.confirm.p1")</p>

        @components.bulleted_list(Seq(
            messages("checkYourAnswers.confirm.bullet1"),
            messages("checkYourAnswers.confirm.bullet2"),
            messages("checkYourAnswers.confirm.bullet3")
        ))

        @components.submit_button("site.confirm_continue")
    }
  }
