@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.routes._
@import models.Mode
@import views.ViewUtils._
@import models.NormalMode

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(appConfig: FrontendAppConfig, form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = title(form, "customisePDF.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @formWithCsrf(action = PDFController.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()(NormalMode)

        @components.error_summary(form.errors)

        @components.heading("customisePDF.heading")

        @components.hint(Html(messages("customisePDF.hint")))

        @components.input_text(
          field = form("completedBy"),
          label = messages("customisePDF.customisedBy")
        )

        @components.input_text(
            field = form("client"),
            label = messages("customisePDF.client")
        )

        @components.input_text(
            field = form("job"),
            label = messages("customisePDF.job")
        )

        @components.input_text(
            field = form("reference"),
            label = messages("customisePDF.reference")
        )

        @components.submit_button()
    }
}
