@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import controllers.routes._
@import models.Mode
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(appConfig: FrontendAppConfig, mode: Mode, downloadAction: Option[Call] = None)(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = titleNoForm("finishedChecking.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @formWithCsrf(action = PDFController.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()()

        @components.heading("finishedChecking.heading")

        @if(downloadAction.isDefined){
            <p><a href="@{downloadAction.get.url}">@messages("finishedChecking.downloadAnswers", 250)</a></p>
        }

        <p>
            @messages("finishedChecking.p1.beforeLink1")
            <a href="@routes.ExitSurveyController.redirectToExitSurvey">@messages("finishedChecking.p1.link1")</a>@messages("finishedChecking.p1.beforeLink2")
            <a href="@routes.StartAgainController.redirectToDisclaimer.url">@messages("finishedChecking.p1.link2")</a>
            @messages("finishedChecking.p1.afterLink2")
        </p>
    }
}
