@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import viewmodels._
@import views.ViewUtils._
@import controllers.routes._
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF


@this(mainTemplate: templates.MainTemplate, formWithCsrf: FormWithCSRF)

@(form: Form[_])(implicit request: Request[_], messages: Messages, appConfig: FrontendAppConfig)

@mainTemplate(
    title = title(form,messages("resetAnswersWarning.title")),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()(NormalMode)(messages)

    @formWithCsrf(action = ResetAnswersWarningController.onSubmit(), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.input_yes_no(
            field = form("value"),
            legend = components.heading(messages("resetAnswersWarning.heading"), asLegend = true),
            labelClass = Some("visually-hidden"),
            otherContent = Some(components.panel_indent(Html(messages("resetAnswersWarning.hint")))),
            yesMessage = Some(messages("resetAnswersWarning.startAgain")),
            noMessage = Some(messages("resetAnswersWarning.goBack")),
            inline = false
        )

        @components.submit_button()
    }
  }
