@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.helpers.FormWithCSRF
@import views.ViewUtils._

@this(formWithCsrf: FormWithCSRF, mainTemplate: templates.MainTemplate)

@(appConfig: FrontendAppConfig)(implicit request: Request[_], messages: Messages)

@mainTemplate(
    title = titleNoForm("error.startAgain.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.heading(messages("error.startAgain.title"))

    <p>@messages("error.startAgain.p")</p>

    @components.button_link("error.startAgain.button", routes.StartAgainController.redirectToDisclaimer.url)

}
